@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: grid;
  place-items: center;
  height: 80vh;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-container:hover {
  box-shadow: 10px 10px 10px grey;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
}
.name-container{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  >.middle-sub-name{
    width: 100px;
    word-wrap: normal;
  }
  > .sub-name-container{
    padding: 10px 20px;
    border: 1px solid red;
    background-color: rgb(151, 120, 120,0.5);
  }
}
.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-button:hover {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}
 .input-container {
  width: 300px;
  height: 300px;
  background-color: rgba(103, 98, 98, 0.1);
  display: flex;
  flex-wrap: wrap;
}

.input {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  font-size: 70px;
  padding-left: 24px;
  padding-top: 5px;
}


.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.score-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

.player-score {
  display: flex;
  align-items: center;
}

.player-score span {
  margin: 0 5px;
}

.player-score .active {
  font-weight: bold;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 10px; 
}

.row {
  display: flex;
}

.cell {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #ddd;
  cursor: pointer;
}

.cell:hover {
  background-color: #ccc;
}

.winning-cell {
  background-color: #8eff7e;
}

.message-container {
  margin-top: 20px;
}

.message {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.reset-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.reset-button:hover {
  background-color: #45a049;
}
